.menu__link{
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.28;
display: flex;
align-items: center;
color: var(--first-color);
}

.menu__list{
    display: none;
    @media (min-width:1280px) {
        display: flex;
        
        
    }
}